* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "sweet-sans-pro", sans-serif;
    color: #233954;
}

h1, h2, h3 {
    font-style: normal;
    font-weight: 900;
    color: #0B2341;
}

h1 {
    font-size: 3rem;
    line-height: 3.75rem;
}

h2 {
    font-size: 2.5rem;
    line-height: 3.125rem;
}

h3 {
    font-size: 2rem;
    line-height: 2.5rem;
}

h4 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem;
}

.body-l {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.25rem;
}

.body-m {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
}

.body-s {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
}

.bold {
    font-weight: 900;
}

button {
    display: flex;
    padding: 8px 16px;
    border-radius: 4px;
    border-width: 0px;
    border-style: none;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
}

div, header, main, section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header {
    padding: 64px 128px;
    gap: 32px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(165, 165, 165, 0.10);
}

header .links {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

header .links a {
    color: #757575;
}

header .links a:hover {
    text-decoration: underline;
}

header .links .current {
    color: #233954;
}

header .links .current:hover {
    text-decoration: none;
}

.icon {
    display: flex;
    align-items: center;
    gap: 16px;
}
