div, main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* ---------------------------------------- */

.header {
    padding: 120px 128px 64px 128px;
    gap: 32px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(165, 165, 165, 0.10);
}

/* ---------------------------------------- */

main {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 64px 128px 128px 128px;
    gap: 64px;
    background: #F8F8F8;
}

/* ---------------------------------------- */

.card {
    min-width: 22rem;
    padding: 32px;
    gap: 32px;
    flex: 1 0 0;
    justify-content: space-between;
    align-self: stretch;
    border-radius: 16px;
    background: #DBF1FC;
    box-shadow: 0px 4px 4px 0px rgba(165, 165, 165, 0.10);
}

.card .content {
    gap: 32px;
}

.card .content hr {
    align-self: stretch;
    border: 2px solid #007DB3;
}

.card .content .info {
    gap: 16px;
    align-self: stretch;
}

.card .button {
    /* justify-content: end; */
    align-self: stretch;
}

.card .button a {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.card .button button {
    align-self: stretch;
    background: #007DB3;
    color: #FFFFFF;
}

.card .button button:hover {
    cursor: pointer;
    background: #00577D;
}

.placeholder {
    background-color: #F8F8F8;
    box-shadow: none;
}

@media screen and (max-width: 576px) {

    .header {
        padding: 32px 48px;
    }

    main {
        padding: 64px 48px;
    }

}